---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="flex-col gap-4">
    <article
      class="prose prose-slate dark:prose-invert prose-img:rounded-xl text-pretty"
    >
      <h1 class="text-balance">
        {post.data.title}
      </h1>
      <p>
        {formatDate(post.data.publishedAt)}
      </p>
      <p class="text-balance">{post.data.description}</p>
      <Content />
    </article>
  </main>
</Layout>
