---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/bio";
import projects from "@/data/projects";

const posts = (await getCollection("blog")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-12 min-w-full w-full">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12 min-w-full prose prose-zinc dark:prose-invert"
    >
      <h2
        set:html={convertAsteriskToStrongTag(presentation.description)}
        class="font-extralight text-sm md:text-lg"
      />
    </article>

    <section class="flex flex-col">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg mb-2">
          posts<span class="ml-2 opacity-50">{posts.length}</span>
        </h3>
        <Link href="/blog" label="see all posts" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>soon, stay connected 👀...</p>}

      <section class="flex flex-col gap-4 md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 4)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </section>

    <section>
      <header>
        <h3 class="text-lg mb-2">
          projects <span class="ml-2 opacity-50">{projects.length}</span>
        </h3>
        {projects.length === 0 && <p>pops, I must work^^^^^</p>}

        <section class="flex flex-col gap-4">
          {
            projects.length !== 0 &&
              projects.map((project) => <ProjectCard {...project} />)
          }
        </section>
      </header>
    </section>
    <SocialLinks />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={`${Astro.site}rss.xml`}
    />
  </main>
</Layout>
